---
- name: Assign ressources to HA Group
  ansible.builtin.uri:
    url: "https://{{ proxmox_api_host }}:8006/api2/json/cluster/ha/resources"
    method: POST
    body_format: json
    status_code: [200]
    return_content: true
    validate_certs: no
    headers:
      Authorization: "PVEAPIToken={{ proxmox_api_user }}!{{ proxmox_api_token_id }}={{ proxmox_api_token_secret }}"
      Content-Type: application/json
    body: '{"sid":"{{ item.sid }}","group":"{{ item.group }}"}'
  loop: "{{ proxmox_ha_resources }}"
