---
- name: Get HA ressources from PVE
  ansible.builtin.uri:
    url: https://{{ proxmox_api_host }}:8006/api2/json/cluster/ha/resources
    method: GET
    status_code: [200]
    validate_certs: "{{ proxmox_api_validate_certs }}"
    headers:
      Authorization: "PVEAPIToken={{ proxmox_api_user }}!{{ proxmox_api_token_id }}={{ proxmox_api_token_secret }}"
      Content-Type: application/json
  register: ressources

- name: Assign ressources to HA Group
  ansible.builtin.uri:
    url: "https://{{ proxmox_api_host }}:8006/api2/json/cluster/ha/resources"
    method: POST
    body_format: json
    status_code: [200]
    return_content: true
    validate_certs: "{{ proxmox_api_validate_certs }}"
    headers:
      Authorization: "PVEAPIToken={{ proxmox_api_user }}!{{ proxmox_api_token_id }}={{ proxmox_api_token_secret }}"
      Content-Type: application/json
    body: '{"sid":"{{ item.1 }}","group":"{{ item.0.group }}"}'
  loop: "{{ proxmox_ha_resources | subelements('members') }}"
  vars:
    jmesquery: '[].sid'
  when: item.1 not in ( ressources.json.data | json_query(jmesquery) | list )
